@model ShopBridge.Models.Inventory

@{
    ViewBag.Title = "Details";
}

<h4>Details</h4>
<hr />


<div class="container" style="padding-left:30%">
    <form enctype="multipart/form-data" name="postform" id="postform" class="form-horizontal">
        <div class="form-group">
            <label class="text-info">Name :</label>
            @Html.DisplayTextFor(m => m.Name)
        </div>

        <div class="form-group">
            <label class="text-info">Description :</label>
            <br />
            @Html.TextAreaFor(m=>m.Description, new { @cols = "100", @rows = "2", @style = "width:100%;" })
        </div>
        <div class="form-group">
            <label class="text-info">Price :</label>
          
            @Html.DisplayTextFor(m=>m.Price)
        </div>
        <div class="form-group">
            <label class="text-info">Image :</label>
            <img src="@Url.Content("~/Images/"+Model.Image)" height="50" width="50" />

        </div>
       
    </form>

    <button class="button button1" type="button" onclick="location.href='@Url.Action("Index", "Inventory")'">
        Back To List
    </button>

    @*<input type="button" id="btnpost" value="Submit" class="button1" />*@
</div>
<script>
        $('textarea').attr('readonly', true);
</script>

